/* ==========================================================================
   Custom Skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #000000 !default;
$muted-text-color: #594936 !default;
$primary-color: #A69F3F !default;
$border-color: mix(#fff, #6C733D, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #A69F3F !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #27362e !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
